In [4]:
import pandas as pd
from scipy.io import arff
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np

data, meta = arff.loadarff(r'C:\Users\gzmce\OneDrive - Firat University\Masaüstü\artificalGerekli\cluto-t5-8k.arff')
df = pd.DataFrame(data)
df

               x           y     CLASS
0     121.561996   81.001999      b'0'
1     762.096985   70.461998      b'1'
2     127.569000  113.457001      b'0'
3      95.467003  116.822998      b'0'
4     652.234009   60.743000      b'2'
...          ...         ...       ...
7995  728.572998   40.826000      b'1'
7996  452.121002   52.111000      b'4'
7997  485.912994   63.375999  b'noise'
7998  241.496994  121.903000      b'5'
7999  532.468018   16.757999  b'noise'

[8000 rows x 3 columns]

In [5]:
pd.DataFrame(data)["CLASS"].value_counts()

CLASS
b'4'        1206
b'2'        1198
b'0'        1173
b'3'        1163
b'noise'    1153
b'5'        1054
b'1'        1053
Name: count, dtype: int64

In [6]:
from sklearn.preprocessing import StandardScaler

# Sayısal verileri al
X = np.column_stack((data['x'], data['y']))

# Standartlaştırma
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [7]:
data_pd = pd.DataFrame(data)

In [8]:
data_pd["CLASS"] = data_pd["CLASS"].apply(lambda c : c.decode("utf-8"))